@tailwind base;

@tailwind components;

@tailwind utilities;

.snakegrid {
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  outline: 1px solid black;
}
.snakegrid-item {
  outline: 1px solid white;
  width: 50px;
  height: 50px;
}
.foodposition {
  background-color: red;
  border-radius: 50px;
}
.headposition {
  background-color: green;
  border-radius: 50px;
}
.snaketail {
  background-color: lightgreen;
  border-radius: 50px;
}
